mixin nav-content()
  ul
    li: a(href="#about").active About
    li: a(href="#webdesign") Web Design
    li: a(href="#twitch") Twitch
    li: a(href="#youtube") YouTube
    li: a(href="#battlestation") Battlestation
    li: a(href="#resume") Resume
    li: a(href="#contact") Contact Me
    

doctype html

html
  title Michael Diglio | Web Developer & Gamer
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
  link(rel="stylesheet", href="main.css")
  
body
  .body-wrap-grid
    header
    
    .content  
      h1 Website Is Currently Under Development
    
    footer

  script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")      
  script(src="assets/js/functions-min.js")
