mixin nav-content()
  ul
    li: a(href="#about").active About
    li: a(href="#webdesign") Web Design
    li: a(href="#twitch") Twitch
    li: a(href="#youtube") YouTube
    li: a(href="#battlestation") Battlestation
    li: a(href="#resume") Resume
    li: a(href="#contact") Contact Me
    

doctype html

html
  title Michael Diglio | Web Developer & Gamer
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
  link(rel="stylesheet", href="assets/main.css")
    
  .home-wrap
    .mobile-nav
      +nav-content
    
    header
      h1.logo Mike Diglio
      .header-position  
        nav.site-nav
          +nav-content
        .mobile-nav-bar: span
    //all home content sections      
    .home-sections
      section.about
        .flex.flex--center
          .col-1.push-left
            h2 What's going on, Mike here and Welcome to my Site
            p.home-lead I'm an IT Professional by day, Freelance Web Designer and Gamer by night, with hobbies that include...
            
      section.webdesign
        .flex.flex--center
          .col-1
            p.home-lead ...Making Random Web Sites...
            
      section.twitch
        .flex.flex--center
          .col-1
            .twitch-embed
              .bubble
                a(href="https://www.twitch.tv/diglio" target="_blank").home-cta Follow me on Twitch - Stream times are Random
                <iframe src="http://streambadge.com/twitch/diglio/" style="border:none;height:4em;width:100%"></iframe> 
          .col-1
            p.home-lead ...Livestreaming on Twitch...
            
      section.youtube
        .flex.flex--center
          .col-1
            p.home-lead.outdented ...Recording Games and posting to YouTube...
            a(href="https://www.youtube.com/user/MDiggss" target='_blank').home-cta Checkout my YouTube
          .col-1
            .video-strip

      section.battlestation
        .flex.flex--center
          .col-1
            h2 ...Building PC's for Myself and Colleagues...
            a(href="#battlestation").home-cta.view-setup View my Setup 
              .pc-setup
                p.bubble.pc-setup-bubble
              .pc-setup-list
                p.bubble.pc-setup-list-bubble
                
      section.resume
        .flex.flex--space-around
          .col-1
            p View my Resume:
            a(href="#resume").home-cta.view-resume View Resume
              .resume-image
                p.bubble.resume-image-bubble
          .col-1
            p Download my Resume:
            a(href="#" target='_blank').home-cta Download Resume        

      section.contact
        .flex.flex--space-around
          .col-1.twitter-logo
            .bubble.twitter-bubble
              p Follow me on Twitter - I enjoy posting nonsense
              a(href="https://twitter.com/MDiggss" target="_blank") @Mdiggss
          .col-1.email-logo
            .bubble.email-bubble
              p For any Inquires, shoot me an email:
              a(href="mailto:mdiggss@gmail.com" target="_top") mdiggss@gmail.com
          .col-1.facebook-logo
            .bubble.facebook-bubble
              p Follow me on Facebook - Do people actually use this?
              a(href="https://www.facebook.com/mdiglio" target="_blank") Michael Diglio

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/assets/js/functions-min.js"></script>        
        
