.body-wrap-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center; }

html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, header, footer, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

body {
  line-height: 1; }

ul {
  list-style: none; }

header {
  width: 100%;
  grid-area: header; }
  header a {
    color: white; }

.content {
  grid-area: content;
  height: 100vh;
  width: 100vw;
  background-image: url("assets/img/under-construction.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

footer {
  grid-area: footer; }
