section.about
  background:
    image: url(/assets/img/home.jpg)
    position: center bottom
    size: cover
    repeat: no-repeat
  box-shadow: 10px 10px 10px rgba(0,0,0,0.8)


  h2
    font-size: 50px
    text-align: center
    line-height: 1
    margin-left: -110px
    margin-top: 0

  .home-lead
    margin-right: -110px
    text-align: center

  .col-1
    color: white
    box-shadow: -10px 15px 10px rgba(red,0.8)
