@media (max-width: 775px)
  .home-wrap
    header
      width: 100%
      padding: 20px 0
      position: fixed

      .logo
        position: relative
        display: none

      .header-position
        width: auto
        position: relative
        top: auto
        bottom: auto
        left: auto
        flex-direction: row
        align-items: center
        box-shadow: none

      .site-nav
        display: none

      .mobile-nav-bar
        display: block

    .mobile-nav.is-open
      display: block
      transform: translateY(0)
      opacity: 1
      position: fixed
