.home-wrap header {
  width: 135px;
  background: #343434;
  padding: 20px 0;
  font-family: 'Ubuntu', sans-serif; }
  .home-wrap header .header-position {
    top: 20px;
    bottom: 0;
    left: auto;
    position: fixed;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .home-wrap header .logo {
    color: white;
    text-align: center;
    size: contain;
    padding: 0;
    margin: 0;
    position: fixed;
    max-width: 135px; }
  .home-wrap header .site-nav ul {
    list-style: none;
    margin: 20px 0;
    padding: 0 20px 0 0;
    text-align: right;
    font-size: 16px; }
    .home-wrap header .site-nav ul li {
      margin-bottom: 20px; }
      .home-wrap header .site-nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        position: relative; }
      .home-wrap header .site-nav ul li:last-child {
        margin-bottom: 0; }
  .home-wrap header .mobile-nav-bar {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    align-items: center;
    left: 45%; }
    .home-wrap header .mobile-nav-bar span,
    .home-wrap header .mobile-nav-bar span::before,
    .home-wrap header .mobile-nav-bar span::after {
      content: "";
      display: block;
      height: 2px;
      background: white;
      position: relative;
      transition: all 0.4s ease-in-out; }
    .home-wrap header .mobile-nav-bar span {
      top: 25px; }
    .home-wrap header .mobile-nav-bar span::before {
      top: 15px; }
    .home-wrap header .mobile-nav-bar span::after {
      top: -17px; }
    .home-wrap header .mobile-nav-bar.is-open span {
      background: transparent; }
    .home-wrap header .mobile-nav-bar.is-open span::before,
    .home-wrap header .mobile-nav-bar.is-open span::after {
      transform-origin: center;
      transform: rotate(45deg);
      top: 0; }
    .home-wrap header .mobile-nav-bar.is-open span::after {
      transform: rotate(-45deg); }

.home-wrap .mobile-nav {
  display: none;
  position: absolute;
  width: 20%;
  left: 80%;
  background-color: rgba(52, 52, 52, 0.9);
  padding: 0;
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
  top: 80px; }
  .home-wrap .mobile-nav ul {
    list-style: none;
    margin-right: 30px;
    padding: 0; }
  .home-wrap .mobile-nav li {
    text-align: right;
    margin-bottom: 10px; }
  .home-wrap .mobile-nav a {
    color: white; }

section.battlestation {
  background-image: url(/assets/img/battlestation-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  section.battlestation h2 {
    font-size: 42px;
    text-align: center;
    line-height: 1.1;
    text-indent: -1em;
    margin-top: 0; }
  section.battlestation .col-1 {
    color: white;
    position: relative; }
  section.battlestation .pc-setup .bubble {
    position: absolute;
    right: 110%;
    bottom: 10%;
    border-radius: 50px 50px 5px 50px;
    background-image: url(/assets/img/setup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: bottom right; }
  section.battlestation .pc-setup-list .bubble {
    position: absolute;
    left: 110%;
    bottom: 10%;
    width: 490px;
    border-radius: 50px 50px 50px 5px;
    background-image: url(/assets/img/setup-list.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: bottom left; }
  section.battlestation .bubble {
    position: absolute;
    color: white;
    text-align: center;
    width: 360px;
    height: 260px;
    border: 3px solid white;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    transform: scale(0); }
  section.battlestation .home-cta:hover .bubble {
    transform: scale(1); }
  section.battlestation .make-visible {
    transform: scale(1); }

section.about {
  background-image: url(/assets/img/home.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat; }
  section.about h2 {
    font-size: 50px;
    text-align: center;
    line-height: 1;
    margin-left: -110px;
    margin-top: 0; }
  section.about .home-lead {
    margin-right: -110px;
    text-align: center; }
  section.about .col-1 {
    color: white; }

section.twitch {
  background-color: #6445A2;
  color: white; }
  section.twitch .col-1 p {
    line-height: 1.5;
    text-align: center; }
  section.twitch .col-1 .twitch-embed {
    position: relative;
    text-align: center; }
  section.twitch .home-lead {
    position: relative;
    bottom: 75px; }
  section.twitch .home-cta {
    font-size: 20px;
    position: absolute;
    top: 175%; }

section.youtube {
  background-image: url(/assets/img/youtube-banner.jpg);
  background-position: center;
  background-size: cover; }
  section.youtube .col-1 {
    color: white;
    position: relative;
    width: 100%; }
  section.youtube .home-cta {
    color: #B90002; }
  section.youtube .video-strip {
    background-image: url(/assets/img/youtube-strip.png);
    background-position: center 0px;
    background-repeat: repeat-y;
    background-size: 60%;
    position: absolute;
    margin: -50px 0;
    top: 0;
    width: 100%;
    height: calc(100% + 100px); }

section.contact {
  background: #f4f5f7; }
  section.contact a {
    color: white; }
  section.contact .col-1 {
    border-radius: 5px 5px 5px 5px; }
  section.contact .twitter-logo {
    height: 80px;
    width: 80px;
    background-image: url(/assets/img/twitter-logo.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 8px rgba(29, 161, 242, 0.8);
    position: relative; }
    section.contact .twitter-logo .bubble {
      border: 2px solid rgba(29, 161, 242, 0.8);
      border-radius: 50px 50px 50px 5px;
      left: 100%;
      bottom: 100%;
      transform-origin: bottom left; }
  section.contact .facebook-logo {
    height: 80px;
    width: 80px;
    background-image: url(/assets/img/facebook-logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 8px rgba(59, 89, 152, 0.8);
    position: relative; }
    section.contact .facebook-logo .bubble {
      border: 2px solid rgba(59, 89, 152, 0.8);
      border-radius: 50px 50px 5px 50px;
      right: 100%;
      bottom: 100%;
      transform-origin: bottom right; }
  section.contact .email-logo {
    height: 80px;
    width: 80px;
    background-image: url(/assets/img/gmail-logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 8px rgba(230, 33, 23, 0.8);
    position: relative; }
    section.contact .email-logo .bubble {
      border: 2px solid rgba(230, 33, 23, 0.8);
      border-radius: 5px 50px 50px 50px;
      left: 100%;
      top: 100%;
      transform-origin: top left; }
  section.contact .bubble {
    color: white;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 250px;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
    transform: scale(0); }
  section.contact .twitter-logo:hover .bubble {
    transform: scale(1); }
  section.contact .facebook-logo:hover .bubble {
    transform: scale(1); }
  section.contact .email-logo:hover .bubble {
    transform: scale(1); }
  section.contact .make-visible {
    transform: scale(1); }

section.resume {
  background-image: url(/assets/img/resume-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white; }
  section.resume .col-1 {
    text-align: center;
    font-size: 26px; }
  section.resume .home-cta {
    font-size: 20px; }
  section.resume .resume-image .bubble {
    background-image: url(/assets/img/resume.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50px 50px 50px 5px;
    left: 110%;
    bottom: 10%; }
  section.resume .bubble {
    position: absolute;
    color: white;
    text-align: center;
    width: 200px;
    height: 260px;
    border: 3px solid white;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    transform: scale(0); }
  section.resume .home-cta:hover .bubble {
    transform: scale(1); }
  section.resume .make-visible {
    transform: scale(1); }

a {
  color: #6441A5; }

.home-cta {
  font-size: 28px;
  display: block;
  background: white;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
  border-radius: 10px;
  position: relative; }
  .home-cta:hover {
    box-shadow: 0px 4px 8px black; }

.enlarge-image {
  height: 600px;
  width: 800px;
  transition: all 0.2s ease-in-out;
  border: 2px solid white;
  position: absolute; }

.active {
  background-color: #6445A2;
  box-shadow: 0px 4px 8px black;
  transition: 0.75s ease-in-out;
  font-size: 20px !important; }

#overlayHeight {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 5%; }
  #overlayHeight img {
    max-width: auto;
    height: 80%;
    pointer-events: none; }
  #overlayHeight #closeImg {
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    top: 35px;
    right: 15%;
    z-index: 1;
    pointer-events: all; }

body {
  margin: 0; }

.home-wrap {
  display: flex;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif; }
  @media (max-width: 775px) {
    .home-wrap {
      display: block; } }

.home-sections {
  flex: 1; }
  .home-sections section {
    padding: 100px 0; }
  .home-sections .flex {
    display: flex;
    flex-direction: row; }
  .home-sections .flex--center {
    justify-content: center; }
  .home-sections .flex--space-between {
    justify-content: space-between; }
  .home-sections .flex--space-around {
    justify-content: space-around; }

.col-1 {
  max-width: 300px;
  margin: 0 10px;
  font-family: 'Ubuntu', sans-serif; }

.col-2 {
  max-width: 620px;
  margin: 0 10px; }

.col-50 {
  width: 50%; }

.push-left {
  margin-right: 330px; }

.push-right {
  margin-left: 330px; }

.home-lead {
  font-size: 36px;
  line-height: 1.1; }
  .home-lead.outdented {
    text-indent: -0.8em; }
    @media (max-width: 640px) {
      .home-lead.outdented {
        text-indent: 0; } }

@media (max-width: 775px) {
  .home-wrap header {
    width: auto;
    padding: 20px 0; }
    .home-wrap header .logo {
      position: relative;
      display: none; }
    .home-wrap header .header-position {
      width: auto;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      flex-direction: row;
      align-items: center; }
    .home-wrap header .site-nav {
      display: none; }
    .home-wrap header .mobile-nav-bar {
      display: block; }
  .home-wrap .mobile-nav.is-open {
    display: block;
    transform: translateY(0);
    transition: all 0.4s ease-in-out; } }
